{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="offer-legacy-wrap">
    <h2 class="offer-legacy-title">Make an Offer</h2>
    {% if listing %}
    <p>for {{ listing.vehicle.year }} {{
        listing.vehicle.company }} {{ listing.vehicle.model }}</p>
    <p>Asking
        Price: ${{ listing.price }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button type="submit" class="btn btn-primary">Submit
                Offer</button>
        </div>
    </form>
</div>
{% endblock %}