{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block content %}
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{% url 'home' %}">CAR<span>SCOUT</span></a>
        </div>

        <div class="nav-links">
            <a href="#browse" class="nav-link-item">Browse Cars</a>
            <a href="#sell" class="nav-link-item">Sell My Car</a>
            <a href="#inspections" class="nav-link-item">Inspections</a>
            <a href="#financing" class="nav-link-item">Financing</a>
        </div>

        <div class="auth-buttons">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="login-link">Log In</a>
            <a href="{% url 'signup' %}" class="btn-signup">Get Started</a>
            {% else %}
            <a href="{% url 'logout' %}" class="nav-link-item">logout</a>
            {% endif %}
        </div>

        <button class="mobile-toggle" aria-label="Toggle Menu">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>
    </div>
</nav>

{% endblock content %}